<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="ISO-8859-1 ">
		<title>Employee Managment Sytem</title>
		<link rel="stylesheet" type="text/css" href="../static/styles.css">
	</head>
	<body>

	<th:block th:include="nav-bar"></th:block>
		<div align="center">
			<h1>CourseDefinition List</h1>
			<button><a th:href="@{/showNewCourseDefinitionForm}">Add CourseDefinition</a></button>
			<table>
				<thead>
					<tr>
						<th>Code</th>
						<th>Course Name</th>
						<th>Description</th>

						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="employee: ${listCourses}">
						<td th:text="${employee.code}"></td>
						<td th:text="${employee.cName}"></td>
						<td th:text="${employee.description}"></td>
						<td><a th:href="@{/showFormForUpdateCourseDefinition/{id}(id=${employee.id})}">Update</a>
						<a th:href="@{/deleteCourseDefinition/{id}(id=${employee.id})}">Delete</a></td>
					</tr>
				</tbody>
			</table>
			
		</div>
	</body>
</html>