<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<style>
</style>
<body>
<header>
  <div class="sidebar">
  <nav >
    <ul>
      <li><a th:href="@{/home}">Home</a></li>
      <li><a th:href="@{/academicUnit}" >Academic Unit</a></li>
      <li><a th:href="@{/semester}">Semester</a></li>
      <li><a th:href="@{/teacher}">Teacher</a></li>
      <li><a th:href="@{/CourseDefinition}">Course Definition</a></li>
      <li><a th:href="@{/course}">Course</a></li>
      <li><a th:href="@{/student}">Student</a></li>
      <li><a th:href="@{/studentRegistration}">Student Registration</a></li>
      <li><a th:href="@{/StudentCourse}">Student Course</a></li>
    </ul>
  </nav>
  </div>
</header>
</body>
</html>