<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="ISO-8859-1 ">
		<title>Student Managment Sytem</title>
		<link rel="stylesheet" href="../static/styles.css">
	</head>
	<body>
		<th:block th:include="nav-bar"></th:block>
		<h1>Save Course</h1>
		<form th:action="@{/saveCourse}" th:object="${courseDis}" method="post">
<!--			<input type="hidden" th:field="*{regNo}" placeholder="Id">-->


			<select th:field="*{semester}">
				<option value="semester">Select Semester</option>
				<option th:each=" sem: ${semesterList}" th:value="${sem.id}" th:text="${sem.sName}"></option>
			</select>
			<select th:field="*{teacher}">
				<option value="teacher">Select Teacher</option>
				<option th:each=" teacher: ${teacherList}" th:value="${teacher.id}" th:text="${teacher.tName}"></option>
			</select>
			<select th:field="*{courseDefinition}">
				<option value="course">Select Course Definition</option>
				<option th:each=" employee: ${courseDefinitionList}" th:value="${employee.id}" th:text="${employee.cName}"></option>
			</select>
			<select th:field="*{department}">
				<option value="course">Select Department</option>
				<option th:each=" employee: ${listOfPrograms}" th:value="${employee.id}" th:text="${employee.name}"></option>
			</select>


			<button type="submit">Save</button>
		</form>
	</body>
</html>
